<div data-ng-controller="CalanderCtrl as ctrl">
<div class="panel panel-default" style="margin-top:5px" >
    <div class="panel-body">
        <h3 ng-if='ctrl.localProfile.firstName'>Welcome back, {{ctrl.localProfile.firstName}}!</h3>
        <h3 ng-if='!ctrl.localProfile.firstName && ctrl.localProfile.email'>Welcome back, {{ctrl.localProfile.email}}!</h3>
        </div >
    </div>
    <div ng-if="ctrl.localProfile.email">
        <div class="ui-calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </div>
</div>