body {
  background-image: url('http://queenspa.com/wp-content/uploads/2017/02/home4.jpg');
  
}



/*.jumbotron {background-color: #337ab7!important;
}

 
h4.ng-scope {
  font-size: 16px;
} 
button:focus {
  outline:none;
}

.form-editBooking {
  opacity: 0.8;
}

div.panel-body {
font-size: 18px;
}

.panel.panel-default.ng-scope {
  width: 48%;
  height: 76px;
}

.panel.panel-default.ng-scope {
  width: 45%;
}

.panel {
opacity: 0.5;
}

.navbar-brand {
  font-family: apple chancery;
  font-size: 150.0%
}

.form-editBooking {
    width: -50%;
    padding: 80px;
    margin: 0 auto;
} */

.validation {
  color: #d9534f 
}

.thumbnail p, .thumbnail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

/* footer {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #222;
  border-color: #080808;
  color: #9d9d9d;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */


.avatar-image--smaller {
  width: 100px;
  height: 100px;
}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
}

img {
  border: 0;
}

.imagebox {
  text-align: center;
  border: 1px solid #b7ae336e;
  background-color: #b7ae336e;
}

.btn-success {
  color: #fff;
  background-color: #b7ae336e;
  border-color: #b7ae336e;
}

.btn-danger {
  color: #fff;
  background-color: #b7ae336e;
  border-color: #b7ae336e;
}

.btn-success:hover {
  color: #fff;
  background-color: #5245146e;
  border-color: #5245146e;
}

.btn-danger:hover {
  color: #fff;
  background-color: #5245146e;
  border-color: #5245146e;
}

.btn.btn-success {
  color: #fff;
  background-color: #b7ae336e;
  border-color: #b7ae336e;
}

.btn.btn-danger {
  color: #fff;
  background-color: #b7ae336e;
  border-color: #b7ae336e;
}

.btn.btn-success:hover {
  color: #fff;
  background-color: #5245146e;
  border-color: #5245146e;
}

.btn.btn-danger:hover {
  color: #fff;
  background-color: #5245146e;
  border-color: #5245146e;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border: 5px solid #b7ae336e;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  background-image: url(http://queenspa.com/wp-content/uploads/2017/02/home4.jpg);
}

/* #main {
  overflow: auto;
  padding-bottom: 60px;
} */

footer {
  position: relative;
  margin-top: -60px;
  /* negative value of footer height */
  height: 60px;
  clear: both;
  background-color: red;
  width: 100%;
  height: 60px;
  background-color: #222;
  border-color: #080808;
  color: white;
  font-family: apple chancery;
}

.btn-primary {
  color: #fff;
  background-color: #b7ae336e;
  border-color: #b7ae336e;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5245146e;
  border-color: #5245146e;
}

.btn.btn-primary {
  color: #fff;
  background-color: #b7ae336e;
  border-color: #b7ae336e;
}

.btn.btn-primary:hover {
  color: #fff;
  background-color: #5245146e;
  border-color: #5245146e;
}

button.btn.btn-primary {
  text-align: left;
  background-color: goldenrod;
  opacity: 0.8;
}

button.btn.btn-primary:hover {
  background-color: lightsalmon;
  outline: none;
  opacity: 1;
}

button.btn.btn-primary:focus {
  background-color: lightsalmon;
  outline: none;
  opacity: 1;
}

button.btn.btn-primary:visited {
  background-color: lightsalmon;
  outline: none;
  opacity: 1;
}

/* button.btn.btn-primary:state-down{
  outline: none;
} */

button.btn.btn-danger {
  color: #fff;
  background-color: #b7ae336e;
  border-color: #b7ae336e;
}

button.btn.btn-danger:hover {
  color: #fff;
  background-color: #5245146e;
  border-color: #5245146e;
}

button.btn.btn-danger:state-down {
  color: #fff;
  background-color: #5245146e;
  border-color: #5245146e;
}

button.btn.btn-danger:focus {
  outline:0;
}

button.btn.btn-danger:visited {
  color:goldenrod;
}
/* 
.footer-container {
  padding-top: 5px;
  font-size: 120%
} */

/* .ui-calendar {
  max-height: 45%;
  max-width: 45%;
} */

button.btn.btn-default.btn-lg {
  background-color: goldenrod;
  border-color: #5245146e;
}

a.btn.btn-block.btn-social {
  color:white;
  background-color: goldenrod;
  border-color: #5245146e;
}

a {
  color:goldenrod;
}

.fc-month-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  color:goldenrod;
}

.fc-agendaDay-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  color:goldenrod;
}

.fc-agendaWeek-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  color:goldenrod;
}

.fc-month-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-hover.fc-state-down {
  background-color: #b7ae336e;
  border-color: #5245146e;
}

.fc-agendaDay-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-hover.fc-state-down {
  background-color: #b7ae336e;
  border-color: #5245146e;
}

.fc-agendaWeek-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-hover.fc-state-down {
  background-color: #b7ae336e;
  border-color: #5245146e;
}

.pagination>.active>a {
  background-color: #b7ae336e;
  border-color: #b7ae336e;
}

.pagination>.active>a:hover {
  background-color: #5245146e;
  border-color: #5245146e;
}

.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
  color:goldenrod;
}

.fc-next-button.fc-button.fc-state-default.fc-corner-right{ 
  color:goldenrod;
}

.fc-prev-button.fc-button.fc-state-default.fc-corner-left.fc-state-hover.fc-state-down {
  color:goldenrod;
  background-color: #b7ae336e;
  border-color: #5245146e;
}

.fc-next-button.fc-button.fc-state-default.fc-corner-right.fc-state-hover.fc-state-down { 
  color:goldenrod;
  background-color: #b7ae336e;
  border-color: #5245146e;
}
/* 
a.ng-binding {
  outline:0;
}

a.ng-binding:visited {
  color:goldenrod;
}

h4.ng-binding.ng-scope {
  font-family: apple chancery;
}

.fc-toolbar {
  color:goldenrod;
}

div.fc-content {
  background-color: #b7ae336e;
  border-color: #5245146e;
}

span.fc-time {
  background-color: lightsalmon;
  border-color:lightsalmon;
}

span.fc-title {
  background-color: lightsalmon;
  border-color:lightsalmon;
}

.fc-day-grid-event .fc-content {
  white-space: unset;
}

div.fc-content {
  background-color: lightsalmon; 
  border-color:none;
  outline: none;
}

.fc-event {
  border: 1px solid  black;
  background-color:  lightsalmon;
}

.span.fc-time {
  border: 1px solid  black;
  background-color:  lightsalmon;
} */
/**************************************/

/* .fc-event {
  font-size: .65em;
} */

/* footer.footer {
margin-top:-40px;
height: 40px;
} */


/* #c{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}

.findOutBtn{
    color: antiquewhite;
    font-size: xx-large;
    background-color: #141414;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px #2b2b2b;
}

.findOutBtn:hover, .findOutBtn:focus{
    background-color: black;
    text-decoration: none;
    color: antiquewhite;
}

.nopadding-one{
    padding-right:45px !important;
}

.nopadding-two{
    padding-right:45px !important;
}

img {
    max-width: 100%;
}

.w-card .description{
    border: thin solid #DDD; border-top: 0;margin-bottom: 20px;
}
.w-card .description .likes-comments{
    height: 50px;
    padding: 10px;
}
.w-card .description .like-count {
    float: left; line-height: 30px;
}
.w-card .description .like-image{
    height: 28px;float: left;margin-right: 10px;
}

.w-card .posted-by{
    border: 1px solid #ddd;
    border-bottom: 0;
    padding: 10px;
    height: 50px;
}

.w-card .profile{
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid #eee;
    float: left;
}
.w-card .caption{
    border-bottom: thin dashed #DDD;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    color: #888;
}
.w-card .description .add-comment{
    float: right;line-height: 30px; color: #333; font-weight: bold; cursor: pointer;
}
.w-card .description .add-comment:hover{
    text-decoration: none;
}

.w-card .description .comment-section form {
    clear: both;
}
.w-card .description .comment-section  form textarea{
    border: thin solid #ddd; border-left:0; border-right: 0; width:100%;height: 100px;height: 155px;padding: 10px;
}
.w-card .description .comment-section form .btn.btn-danger.pull-right{
    margin:0;
}
.w-card .description .comment-section form .characters{
    line-height: 33px; margin-left: 10px;
}

.header {
    width: 250px;
    margin: 0 auto;
}
.main{
    padding-top: 20px;
    border-top: thin dashed #CCC;
}

a.upload{
    background-color: #d9534f;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    color: #FFF;
}
a.upload:hover{
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
    text-decoration: none;
    color: #FFF;
}
.view-more{
    display: block;
    text-align: center;
    padding: 10px;
}

.comment-section{
    border-top: thin solid #DDD;

}

.comment{
    padding: 20px;
    border-bottom: thin dashed #DDD;
}

.show {
    display: block;
}

.camera-btn {
    position: absolute;
     top: 0;
    bottom: 0;
     left: 0;
    right: 0;
    height: 75px;
    width: 75px;
    margin: auto;
    text-align: center;
    border: 5px solid #DDD;
    border-radius: 47px;
    line-height: 68px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    background-color: #FFF;
}

.camera-btn:hover{
    color: #000;

}

.camera-btn.selected{
    position: absolute;
    top: auto;
    left: auto;
    bottom: 25px;
    right: 25px;
    opacity: 0.3;
    transition:left 1s linear;

}

.camera-btn.selected:hover{
    opacity: 1;
}

div.modal-dialog {
    margin-top: 1px;
    margin: 0px 0px 0px 0px !important;
}

div.modal-lg{
    width: 805px !important;
    height: 300px !important;
}


.footer{
    text-align: center;
    padding: 30px 0 50px 0;
    border-top: thin dashed #ddd;
}

.footer a.load-more{
    width: 200px;
    border: 2px solid #eca9a7;
    color: #000;
    text-transform: uppercase;
    padding: 10px 20px;
    opacity: 0.5;
}


.footer a.load-more:hover{
    text-decoration: none;
    opacity: 1;
    box-shadow: 0px 0px 51px 3px rgba(0,0,0,0.1);
}

.theme-color {
    color: #d9534f;
}


/*
Profile Css*/

/* 
.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.custom-btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.autoModal.modal .modal-body{
    max-height: 100%;
    overflow-y:hidden;
}


/* new */

/* .jumbotron {background-color: #337ab7!important;}

.form-editBooking {
    width: -50%;
    padding: 80px;
    margin: 0 auto;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(48, 89, 177);
  border-color: rgb(15, 57, 105);
}

.validation {
  color: #d9534f 
}

.thumbnail p, .thumbnail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

footer {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #222;
  border-color: #080808;
  color: #9d9d9d;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.avatar-image--smaller {
  width: 100px;
  height: 100px;
}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
}

img {
  border: 0;
}

.imagebox{
  text-align: center;
  border: 1px solid #337ab7;
  background-color: #337ab7;
}

.btn-success {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-danger {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-success:hover {
  color: #fff;
  background-color: #05233a;
  border-color: #05233a;
}

.btn-danger:hover {
  color: #fff;
  background-color: #05233a;
  border-color: #05233a;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border: 5px solid #337ab7;
}


* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 60px;
}

/* footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
  background-color: red;
  width: 100%;
  height: 60px;
  background-color: #222;
  border-color: #080808;
  color: #9d9d9d;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-primary:hover {
  color: #fff;
  background-color: #05233a;
  border-color: #05233a;
}

.footer-continer{
  padding-top: 5px
}

.ui-calendar{
  max-height: 45%;
  max-width: 45%;
}  */




* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  background-image: url('http://queenspa.com/wp-content/uploads/2017/02/home4.jpg');
}

#main {
  overflow: auto;
  padding-bottom: 45px;
  /* must be same height as the footer */
}

footer {
  position: relative;
  margin-top: -45px;
  /* negative value of footer height */
  height: 45px;
  clear: both;
  background-color: red;
  width: 100%;
  background-color: #222;
  border-color: #080808;
  color: #9d9d9d;
}

.footer-container{
  padding-top: 15px;
}

.ui-calendar{
  max-height: 45%;
  max-width: 45%;
  margin-bottom: 5px;
  /* padding: 30px */
}


.panel-body{
  padding: 10px 15px 10px 15px;
}

/* .header{
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%)
} */

.panel-default{
  max-width: 45%
}

.panel-default1{
  max-width: 100%
}