<div class="container">
    <h3>Edit Booking</h3>
    <form name="ctrl.bookingform" class="form-horizontal form-editBooking">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Booking Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.booking.name" class="form-control" id="name" name="name" placeholder="Booking Name .." required>
                <div class="validation" data-ng-show="ctrl.bookingform.name.$touched || ctrl.bookingform.$submitted">
                    <div data-ng-show="ctrl.bookingform.name.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="brand"> Brand Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.booking.brand" class="form-control" id="brand" name="brand" placeholder="Brand Name .." required>
                <div class="validation" data-ng-show="ctrl.bookingform.brand.$touched || ctrl.bookingform.$submitted">
                    <div data-ng-show="ctrl.bookingform.brand.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Brand is required
                    </div>
                </div>
            </div>    
        </div>
       
        <div class="form-group">
            <label class="control-label col-sm-2" for="upc12">UPC</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.booking.upc12" class="form-control" id="upc12" name="upc12" placeholder="UPC ..">
            </div>    
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.bookingform.$invalid" ng-click="ctrl.saveBooking()">Save</button>
            </div>
        </div>
    
    </form>
</div>