<h1>Current Bookings</h1>
<div ng-cloak ng-controller="BookingController as ctrl">
        <div class="container">
            <div class="jumbotron">
                    <form name="ctrl.searchForm" ng-submit="ctrl.searchBookings()">
                        <div class="input-group">
                            <input type="text" name="keyword" id="keyword" class="form-control" ng-model="ctrl.searchKeyword" placeholder="  booking name or brand name"/>
                            <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                            </span>
                            <div class="col-lg-6">
                                <select ng-model="ctrl.orderby" class="form-control">
                                    <option value="" disabled selected> SORT by </option>
                                    <option value="ASC">Ascending</option>
                                    <option value="DESC">Descending</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <hr/>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
            </div>
            
            <div class="list" ng-show="ctrl.bookings">
                <div class="row" ng-show="ctrl.bookings.length > 0">
                    <div class="list header col-lg-12 col-md-12 col-sm-12">
                            <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" item-per-page="ctrl.itemsPerPage" class="pagination-sm" max-size="ctrl.maxsize"  boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 booking card border-light" ng-repeat="booking in ctrl.bookings">
                        <div class="card-body">
                            <div class="imagebox">
                                <img align="middle" src="{{booking.staff.profile_url}}" class="avatar-image avatar-image--smaller" alt="">
                            </div>
                            <blockquote class="card-blockquote">
                                    <h4><label>Date: </label> {{booking.date}}</h4>
                                    <h4><label>Time Slot: </label> {{booking.time_slot}}</h4>
                                    <h4><label>Service Name: </label> {{booking.service.name}}</h4>
                                    <h4><label>Service Type: </label> {{booking.service.type}}</h4>
                                    <h4><label>Service Duration: </label> {{booking.service.duration}}</h4>
                                    <h4><label>Staff: </label> {{booking.staff.name}}</h4>            

                            </blockquote>
                        </div>
                        <h4>
                            <button type="button" ng-click="ctrl.editBooking(booking.id, 'lg')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" ng-click="ctrl.deleteBooking(booking.id, 'lg')" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p>Created by: <b>Robot Davis</b></p>
                <p>Contact information: 
                    <a href="mailto:rthlimdavis@gmail.com">
                thlimdavis@gmail.com</a>.</p>
            </div>
        </footer>
    </div>

</div>
